* {
box-sizing: border-box;
}

body {

margin:0;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#e9eef5;

font-family:Arial;

}


.container {

width:90%;

max-width:420px;

background:white;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,0.2);

}


h1 {

color:#1976d2;

}


button {

width:90%;

padding:14px;

margin:10px;

border:0;

border-radius:12px;

background:#1976d2;

color:white;

font-size:16px;

}


video, canvas, img {

width:100%;

margin-top:15px;

border-radius:15px;

}


#photo {

display:block;

}
